@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --shadow: rgba(0, 0, 0, 0.8)
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu';
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#home {
  height: 100%;
  background: none;
}

#home-bg-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

#home-overlay {
  background-color: rgba(0,0,0,0.1);
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-container {
  height: 100vh;
  display: inline-flex;
  overflow: hidden;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
  cursor: grab;
}

.slide{
  max-height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 60% 40%;
  padding: 1rem;
  color: #F5F5F5;
}

.main {
  padding: 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 2rem;
  -webkit-backdrop-filter: blur(1px);
  background: linear-gradient(
    to right bottom, 
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3),  
    rgba(255, 255, 255, 0.8)
  );
}

.fa-share {
  position: absolute;
  top: 20px;
  left: 180px;
  font-size: 1rem;
}

.aside {
  display: grid;
  margin-top: 0.5rem;
  padding: 0.7rem;
  border-radius: 2rem;
  border: double 4px #F5F5F5;
  -webkit-backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom, 
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.3),  
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.8)
  );
}

#logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 1px #919191, 
                1px 2px 1px #919191, 
                1px 3px 1px #919191, 
                1px 12px 6px rgba(16, 16, 16, 0.4);
}

#info {
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
  padding: 0.5rem;
}

#info span {
  font-size: 10px;
  color: #FFE4E1;
}

#info a {
  text-decoration: none;
  color: #00FF00;
}

hr {
  height: 1px;
  /*padding: 0.5rem;*/
}

.slide iframe{
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease-in-out;
  box-shadow: 5px 5px 50px -1px var(--shadow);
  border-radius: 2rem;
  user-select: none;
}

.grabbing {
  cursor: grabbing;
}

.grabbing .slide iframe{
  transform: scale(0.9);
  box-shadow: 5px 5px 40px -1px var(--shadow);
}

@media(min-width: 800px){
  .slide {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4,1fr); 
  }
  .main {
    grid-row: 1 / 3;
    grid-column: 1 / span 3;

  }
  .aside {
    margin-left: 1rem;
    grid-row: 1 / 3;
    padding: 1rem;
  }
  #info {
    max-height: 550px;
    padding: 1rem;
  }

  .fa-share {
    left: 32rem;
    font-size: 20px;
  }
  #info span {
    font-size: 12px;
  }
}